@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(13deg, rgba(41,41,41,1) 0%, rgba(0,0,0,1) 100%);
}